$background-color: var(--background-color);
$text-color: var(--text-color);
$side-navigation-color: #3491da;
$side-navigation-text: var(--side-navigation-text);
$navigation-gutter-color: var(--navigation-gutter-color);
